<div class="dashboard">
  <div class="page-container">

    <h1>Bem-vindo ao Painel de Apostas Online</h1>
    <h2>Visualize apostas ao vivo. {{ tips }}</h2>

    <div class="grid-header">
  🔥 Mais recentes primeiro
    </div>
    <div class="bets-grid">
      @for (bet of menosGols; track $index) {
        <mat-card class="bet-card">
          <div class="bet-header">
            <div class="badges">
              <span class="badge league">{{ bet.league }}</span>
              <span class="badge market">{{ bet.overUnder ? 'Over/Under' : 'Handicap' }}</span>
            </div>

            <span class="badge value-bet">
              <span class="arrow">↗</span> Value Bet
            </span>
          </div>

          <!-- TIMES -->
          <div class="teams">
            <div class="team home">{{ bet.homeTeam }}</div>
            <div class="vs">vs</div>
            <div class="team away">{{ bet.awayTeam }}</div>
          </div>

          <!-- PICK -->
          <div class="pick">
            <span class="pick-type text-gradient">{{ bet.type }}</span>
            <span class="confidence">
              linha atual: U2.5
            </span>
          </div>

          <!-- ODDS -->
          <div class="odds-box">
            <div class="odd">
              <span class="label">Odds Mínima</span>
              <span class="value">@{{ bet.odd }}</span>
            </div>

            <div class="odd">
              <span class="label">Odds Atual</span>
              <span class="value highlight">
                @{{ bet.currentOdd }}
                <span class="diff positive">↗ {{ (bet.currentOdd - bet.odd) | number:'1.0-4' }}</span>
              </span>
            </div>
          </div>

          <hr />

          <!-- INSIGHT -->
          <p class="insight">
           Inserir dados sobre a aposta se caso ouvir em detalhes após clicar no card
          </p>

          <!-- FOOTER -->
          <div class="footer">
            <span class="time">🕒 {{ date | date:'dd/MM/yyyy'  }}</span>
            <span class="time recent">
              há 3 min
            </span>
          </div>
        </mat-card>
      }
    </div>