.login-page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  display: flex;
  height: 100%;
  

  .bg{
      background-image: url('/images/background.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
      width: 100%;
      
  }

  .logo-container {
    height: 250px;
    .logo {
      margin: auto;
      padding-right: 25px;
      display: flex;
      max-height: 400px;
    }
  }

  .login-card {
    background: #ffffff;
    width: 100%;
    margin: auto;
    margin-top: 50px !important;
    max-width: 420px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      color: #F59E0B;
    }
  }

  .input-group {
    margin-bottom: 16px;

    input {
      width: 90%;
      padding: 12px 14px;
      border-radius: 8px;
      border: 1px solid #ddd;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: #F59E0B;
      }
    }
  }

  .btn-login {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    background-color: #F59E0B;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #F59E0B;
    }
  }

  .forgot-password {
    display: block;
    margin-top: 16px;
    font-size: 13px;
    color: #888;
    cursor: pointer;
  }

  .register {
    margin-top: 24px;

    a {
      color: #e74c3c;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

