@if (authFacade.isLoggedIn()) {
  <nav class="top-menu">
    <img
        src="/images/only_logo.png"
        alt="Logo"
        class="logo"
    />

    <ul class="menu-items">
      <li routerLinkActive="active">
       
        <a routerLink="/home" class="text-gradient">
           <mat-icon>home</mat-icon>
          Home
        </a>
      </li>
      <li routerLinkActive="active">
        
        <a routerLink="/tips"  class="text-gradient">
          <mat-icon>attach_money</mat-icon>
          Apostas online</a>
      </li>
      <li routerLinkActive="active">
       
        <a routerLink="/dashboard"  class="text-gradient">
           <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
      </li>
      <li routerLinkActive="active">
       
        <a (click)="logout()"  class="text-gradient">
           <mat-icon>person_outline</mat-icon>
          Logout
        </a>
      </li>
    </ul>
  </nav>  
}