.top-menu {
  height: 64px;
  background-color: #4d7feb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 60px !important;
  color: #fff;

  width: 100%;
  position: relative;
}

img{
  width: 180px;
  margin-right: 30px;
  max-height: 150px;
  margin-left: 100px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.menu-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  
}

.menu-items li {
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  margin-right: 100px;
  transition: opacity 0.2s;
}

.menu-items li:hover {
  opacity: 0.8;
}

.menu-items .active {
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}

.logout {
  color: #E5E7EB;
}

/* Logo à esquerda */
.logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
