@if (authService.isLoggedIn()) {
  <nav class="top-menu">
    <img
        src="/images/only_logo.png"
        alt="Logo"
        class="logo"
    />

    <ul class="menu-items">
      <li routerLinkActive="active">
       
        <a routerLink="/home">
           <mat-icon>home</mat-icon>
          Home
        </a>
      </li>
      <li routerLinkActive="active">
        
        <a routerLink="/tips">
          <mat-icon>attach_money</mat-icon>
          Apostas online</a>
      </li>
      <li routerLinkActive="active">
       
        <a routerLink="/dashboard">
           <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
      </li>
      <li routerLinkActive="active">
       
        <a (click)="logout()">
           <mat-icon>person_outline</mat-icon>
          Logout
        </a>
      </li>
    </ul>
  </nav>  
}