.top-menu {
  height: 64px;
  background-color: #080c16;
  // border-bottom: 2px solid #3183ee; /* linha leve */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 60px !important;
  color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

img{
  width: 180px;
  margin-right: 30px;
  max-height: 150px;
  margin-left: 100px;
}

.logo {
  width: 150px;
  height: 130px;
}

.menu-items {
  list-style: none;
  display: flex;
  margin-right: 160px;
  padding: 0;
}

li{
  display: flex;
}

.menu-items li {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  margin-right: 10px;
  transition: opacity 0.2s;
  border-radius: 8px;
}

.menu-items li:hover {
  opacity: 0.8;
  background-color: #2952ac;
  color: #f7f7f7;
}


.menu-items li a {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 15px 16px;
  text-decoration: none;        /* ❌ remove sublinhado */            /* azul escuro */
  font-weight: 500;
  border-radius: 8px;
  transition: background 0.2s ease, color 0.2s ease;
  text-decoration: none; /* remove sublinhado */
  transition: color 0.2s ease, background-color 0.2s ease;
}

/* Hover */
.menu-items li a:hover {
  background-color: #e0ecff;
   color: #f7f7f7;
}

/* Item ativo (rota atual) */
.menu-items li.active a {
  background-color: #dbeafe;    /* azul claro */
  color: #005440;
}